<div class="container my-3">
  <%= link_to collections_path do %>
    <i class="ph-arrow-left" id="back-arrow"></i>
  <% end %>
  <h1> <%= @collection.name %> </h1>
  <p class="mb-3"> <%= @collection.description %> </p>
    <div class="action-btns mt-4">

      <% if !current_user.favorited?(@collection) %>
        <%= link_to favorite_collection_path(@collection), method: :patch, remote: true do %>
          <i class="ph-heart-straight" id="action-icon"></i>
        <% end %>
      <% else %>
        <%= link_to favorite_collection_path(@collection), method: :patch, remote: true do %>
          <i class="ph-heart-straight-fill" id="action-icon"></i>
        <% end %>
      <% end %>
    </div>
    <div class="row restaurant-list">
    <% @collection.restaurants.each do |restaurant| %>
      <div class="col-lg-4 col-sm-12">
          <%#= restaurant.name %>
        <div class="card my-3 box" id="restaurant-card-<%= restaurant.id %>">
          <%= link_to restaurant_path(restaurant), class:"text-decoration-none" do %>
            <%= image_tag restaurant.image, class:"card-img-top" %>
            <div class="ribbon">
              <span class="ribbon4"><p class="p-vibe"><%= restaurant.vibes.first.name %></p></span>
            </div>
          <% end %>
            <div class="restaurant-list-title d-flex justify-content-between">
              <div class="restaurant-index-info p-3">
                <h3 class="card-title"><%= restaurant.name %></h3>
              </div>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
