<div class="container-vibes">
  <div class="container">
    <form action="/restaurants">
      <div class="row">
        <% @vibes.each do |vibe| %>
          <div class="col-md-4 col-sm-12">
            <input class="my-class" type="checkbox" id="vibe-<%=vibe.id%>" name="vibe-<%=vibe.id%>" value="<%=vibe.name%>">
              <label class="cards-vibe-label" for="vibe-<%=vibe.id%>">
                <div class="card cards-vibe justify-content-center align-items-center" style="background-image:url(https://images.unsplash.com/photo-1494346480775-936a9f0d0877?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=816&q=80);">
                  <div class="cards-info"><h3><%= vibe.name %></h3></div>
                </div>
              </label>
          </div>
        <% end %>
        <input type="submit" value="View Restaurants" class= 'btn-ghost justify-content-md-end'>
      </div>
    </form>
  </div>
</div>
