<div class="container-vibes">
  <div class="container mt-4">
  <%= link_to "Back", root_path, class:"btn btn-outline-primary mb-3" %>
    <form action="/restaurants">
      <div class="row justify-content-end">
        <% @vibes.each do |vibe| %>
          <div class="col-md-4 col-sm-12">
            <input class="my-class" type="checkbox" id="vibe-<%=vibe.id%>" name="vibe-<%=vibe.id%>" value="<%=vibe.name%>">
              <label class="cards-vibe-label" for="vibe-<%=vibe.id%>">
                <div class="card cards-vibe justify-content-center align-items-center" style="background-image:url(<%= vibe.restaurants.sample.image %>)">
                  <div class="cards-info"><h3><%= vibe.name %></h3></div>
                </div>
              </label>
          </div>
        <% end %>

        <input type="submit" value="View Restaurants" class= 'btn btn-primary justify-content-md-end m-2'>
      </div>
    </form>
  </div>
</div>
