<div class="container py-4">
  <%= link_to collections_path do %>
    <i class="ph-arrow-left" id="back-arrow"></i>
  <% end %>

  <h1>New collection</h1>

  <%= simple_form_for(@collection) do |f| %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:'btn btn-primary'  %>
  </div>
<% end %>
</div>
