<div class="container mt-4">

<% if user_signed_in? %>
  <div class="menu-wrap" id="navbar">
    <%= link_to root_path do %>
      <%= image_tag "UF-green.svg", class: "logo" %>
    <% end %>
    <div class="drop-d d-flex">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="#"><%= link_to 'Home', root_path%></a></li>
            <li><%= link_to 'Edit profile', edit_user_registration_path, method: :get %></li>
            <li><a href="#"><%= link_to 'Vibes', vibes_path %></a></li>
            <li><a href="#"><%= link_to 'Collections', collections_path %></a></li>
            <li><a href="#"><%= link_to "Log out", destroy_user_session_path, method: :delete %></a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
<% else %>
  <div class="menu-wrap" id="navbar">
    <%= link_to root_path do %>
      <%= image_tag "UF-green.svg", class: "logo" %>
    <% end %>
  <div class="drop-d">
    <input type="checkbox" class="toggler">
    <div class="hamburger"><div></div></div>
    <div class="menu">
      <div>
        <div class="navbar-links">
          <ul>
            <li><a href="#"><%= link_to 'Home', root_path %></a></li>
            <li><a href="#"><%= link_to 'Vibes', vibes_path %></a></li>
            <li><a href="#"><%= link_to 'Collections', collections_path %></a></li>
            <li><a href="#"><%= link_to "Sign up", new_user_registration_path %></a></li>
            <li><a href="#"><%= link_to "Log in", new_user_session_path %></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
   </div>
<% end %>

</div>
