<div id="restaurant-location-<%= restaurant.id %>">
  <%= link_to restaurant_path(restaurant) do %>
  <div class="map-image">
    <%= image_tag restaurant.image, class:'w-100', id:"restaurant-popup-image" %>
  </div>
  <h3 class="mt-2"> <%= restaurant.name %> </h3>
  <p> <%= restaurant.address %> </p>
  <% end %>
</div>
