<p id="review-<%= review.id %>">
  <%= "<i class='fas fa-star' id='star'></i>".html_safe * review.rating %><%= "<i class='far fa-star' id='star'></i>".html_safe * (5 - review.rating) %>
  (<small><em><%= review.created_at.strftime("%d-%m-%Y")%></small></em>)
</p>
<p>
  <%= review.user.first_name.capitalize %>
  <%= review.user.last_name.capitalize %> said: <em>"<%= review.description %>"</em>
</p>
