<div class="container p-4">
  <div class="restaurant-index-top d-flex justify-content-between">
  <% if params[:query].present? %>
      <%= render "back_show" %>
  <% else %>
    <%= link_to restaurants_path do %>
      <i class="ph-arrow-left" id="back-arrow"></i>
    <% end %>
  <% end %>
    <div class="view-toggle ml-auto p-2">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active d-flex" onclick="listView()">
          <input type="radio" name="options" id="list" autocomplete="off" checked> <i class="ph-list align-items-center"></i>
        </label>
        <label class="btn btn-secondary d-flex" onclick="mapView()">
          <input type="radio" name="options" id="map-view" autocomplete="off"> <i class="ph-map-pin align-items-center"></i>
        </label>
      </div>
    </div>
  </div>
  <div class="restaurant-index-search d-flex justify-content-between">
    <h2 class="py-3" style="width:50%"><%= @restaurants.count %> <%= @vibes.join(", ") %> restaurants found</h2>
    <div class="restaurant-search">
      <%= form_tag restaurants_path, method: :get, class: 'form-inline' do%>
        <%= text_field_tag :query, params[:query], class: "form-control-lg mr-3 p-4", id:"search_category", placeholder: "Look for a restaurant" %>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
    <div class="restaurant-index d-flex justify-content-between">
    <div class="restaurant-list w-100 mr-3" id="restaurant-list-view">
        <% @restaurants.each do |restaurant| %>
           <div class="card my-3 box" id="restaurant-card-<%= restaurant.id %>">
              <%= link_to restaurant_path(restaurant), class:"text-decoration-none" do %>
                <%= image_tag restaurant.image, class:"card-img-top" %>
                  <div class="ribbon">
                    <span class="ribbon4"><p class="p-vibe"><%= restaurant.vibes.first.name %></p></span>
                  </div>
              <% end %>
                  <div class="restaurant-list-title d-flex justify-content-between">
                    <div class="restaurant-index-info p-3">
                      <h3 class="card-title"><%= restaurant.name %></h3>
                      <p class="card-text"> <%= restaurant.description %> </p>
                    </div>
                    <i class="ph-plus-circle p-3 rotate" data-action="click" id="add-icon" data-toggle="collapse" href="#collapse<%= restaurant.id %>" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
                  </div>
                </div>
              <div id="add-to">
                <div class="collapse" id="collapse<%= restaurant.id %>">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item disabled">
                      <div class="add-to-top d-flex justify-content-between align-items-end pt-5">
                        <h4>Add to collection</h4>
                      </div>
                      </li>
                        <% if user_signed_in? %>
                          <% @my_collections.each do |collection| %>
                            <li class="list-group-item" id="sweet-alert-demo">
                                <%= link_to collection.name, collection_restaurant_collections_path(collection, restaurant: restaurant), method: :post %>
                            </li>
                          <% end %>
                          <li class="list-group-item" id="new-collection-link">
                            <%= link_to new_collection_path(id: restaurant.id) do %>
                              + Add to new collection
                            <% end %>
                          </li>
                        <% else %>
                          <li class="list-group-item" id="new-collection-link">
                            <%= link_to new_collection_path(id: restaurant.id) do %>
                              Login
                            <% end %>
                          </li>
                        <% end %>
                  </ul>
                </div>
            </div>
        <% end %>
    </div>

    <div id="map" class="restaurant-map w-100 mt-3"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%# <div class="restaurant-map my-3 w-100">

    </div> %>
  </div>
</div>

<script>

  // toggle map/list view on mobile

  function listView() {
    document.getElementById('restaurant-list-view').style.display = "";
    document.getElementById('map').style.display = 'none';
  }
  function mapView() {
    document.getElementById('map').style.display = "";
    document.getElementById('restaurant-list-view').style.display = 'none';
  }
  // show map marker when hovering card
  // let restaurantCard = document.getElementById("restaurant-card");

  // restaurantCard.addEventListener("mouseenter", function( event ) {
  //   event.target
  // })

</script>
