<div class="container p-4">
  <h3><%= @restaurants.count %> restaurants found</h3>
  <div class="restaurant-index d-flex justify-content-between">
    <div class="restaurant-list w-100 mr-3">
        <% @restaurants.each do |restaurant| %>
            <div class="card my-3">
            <%= image_tag restaurant.image, class:"card-img-top" %>
              <div class="restaurant-list-title d-flex justify-content-between">
                <h3 class="card-title p-3"><%= restaurant.name %></h3>
                <a><i class="ph-plus-circle p-3 crossRotate"
                data-action="click" data-toggle="collapse"
                href="#collapse<%= restaurant.id %>"
                role="button" aria-expanded="false"
                aria-controls="collapseExample"></i></a>
              </div>
            </div>
            <div id="add-to">
              <div class="collapse" id="collapse<%= restaurant.id %>">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item d-flex justify-content-between align-items-end pt-5">
                    <h4>Add to collection</h4>
                    <button class='btn btn-outline-light'>New</button>
                  </li>
                  <li class="list-group-item">
                    <p>Sunday brunch</p>
                  </li>
                  <li class="list-group-item">
                    <p>Creative night out</p>
                  </li>
                </ul>
              </div>
            </div>
        <% end %>
    </div>
    <div class="restaurant-map my-3 w-100">

    </div>
  </div>
</div>
