<div class="container p-4">
  <div class="restaurant-index-top d-flex justify-content-between">
    <h3><%= @restaurants.count %> restaurants found</h3>
    <div class="view-toggle">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active d-flex">
          <input type="radio" name="options" id="option1" autocomplete="off" checked> <i class="ph-list align-items-center"></i>
        </label>
        <label class="btn btn-secondary d-flex">
          <input type="radio" name="options" id="option2" autocomplete="off"> <i class="ph-map-pin align-items-center"></i>
        </label>
      </div>
    </div>
  </div>
    <div class="restaurant-index d-flex justify-content-between">
    <div class="restaurant-list w-100 mr-3">
        <% @restaurants.each do |restaurant| %>
           <div class="card my-3">
              <%= link_to restaurant_path(restaurant), class:"text-decoration-none" do %>
                <%= image_tag restaurant.image, class:"card-img-top" %>
              <% end %>
                  <div class="restaurant-list-title d-flex justify-content-between">
                    <div class="restaurant-index-info p-3">
                      <h3 class="card-title"><%= restaurant.name %></h3>
                      <p class="card-text"> <%= restaurant.description %> </p>
                    </div>
                    <i class="ph-plus-circle p-3 crossRotate" data-action="click" data-toggle="collapse" href="#collapse<%= restaurant.id %>" role="button" aria-expanded="false" aria-controls="collapseExample"></i>
                  </div>
                </div>
              <div id="add-to">
                <div class="collapse" id="collapse<%= restaurant.id %>">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-end pt-5">
                      <h4>Add to collection</h4>
                      <button class='btn btn-outline-light'>New</button>
                    </li>
                    <li class="list-group-item">
                      <p>Sunday brunch</p>
                    </li>
                    <li class="list-group-item">
                      <p>Creative night out</p>
                    </li>
                  </ul>
                </div>
            </div>
        <% end %>
    </div>
    <div id="map" class="restaurant-map w-100 mt-3"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
    <%# <div class="restaurant-map my-3 w-100">

    </div> %>
  </div>
</div>
