<div class="container">

  <%= link_to "Back", restaurants_path, class: "btn btn btn-success mt-3" %>

  <div class="show-gallery">
    <div class="row p-3">
      <% @restaurant.photos do |photo| %>
        <div class="col-lg-1 col-sm-12">
          <%= link_to '#restaurant-gallery-image', 'data-toggle' => 'modal' do %>
            <%= image_tag @restaurant.img_url, class:'restaurant-gallery-image' %>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <h1><%= @restaurant.name %></h1>
      <p><%= @restaurant.description%></p>
    </div>
    <div id="map-show"
      class="col-6"
      style=""
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div data-controller="insert-in-list" data-insert-in-list-position-value="beforeend" class="show-reviews m-3">
    <div data-insert-in-list-target="items" class="review">
      <% if @restaurant.reviews.blank? %>
        <p><small>"Be the first to leave a review for <%= @restaurant.name %>"...</small></p>
      <% else %>
        <% @restaurant.reviews.last(4).each do |review| %>
          <%= render 'restaurants/review', review: review %>
          <p></p>
        <% end %>
      <% end %>
    </div>

    <%= link_to "Directions", @restaurant.website, class: "btn btn btn-success mt-3", target: "_blank" %>
    <%= link_to "Book", @restaurant.website, class: "btn btn btn-success mt-3", target: "_blank" %>
    <button type="button" class="btn btn btn-success mt-3" data-toggle="modal" data-target="#exampleModal">Add a review</button>

    <%= render 'restaurants/modal_new', restaurant: @restaurant, review: @review %>
  </div>
</div>
