<div class="container">

  <%= render "back_show" %>

  <div class="carousel container-carousel justify-content-center">
    <div class="row">
      <div class="carousel-card col-12 p-0 mt-3">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
          </ol>

          <div class="carousel-inner">
            <% if @restaurant.photos.count > 1 %>
              <div class="carousel-item active">
                <%= image_tag @restaurant.photos.first.url, width: 400, height: 500, class: 'w-100 carousel-img' %>
              </div>
            <% @restaurant.photos.drop(1).each do |photo| %>
              <div class="carousel-item">
                <%= image_tag photo.url, width: 400, height: 500, class: 'w-100 carousel-img' %>
              </div>
            <% end %>
            <% else %>
              <div class="carousel-item active">
                <%= image_tag @restaurant.photos.first.url, width: 400, height: 500, class: 'w-100 carousel-img' %>
              </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="container container-show p-0">
    <div class="row row-show">
      <div class="row-reviews p-0 col-12 col-lg-6 justify-content-center align-items-bottom">
        <div class="row-restaurant mr-5">
          <h1><%= @restaurant.name %></h1>
          <p><%= @restaurant.description%></p>
          <hr style="width: 100%">
          <div class="add-collection-show">
            <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Add to collection
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <% if user_signed_in? %>
                <% @my_collections.each do |collection| %>
                  <li>
                    <%= link_to collection.name, collection_restaurant_collections_path(collection, restaurant: @restaurant), method: :post, class:"dropdown-item py-4" %>
                  </li>
                <% end %>
              <% end %>
                <li>
                  <%= link_to new_collection_path(id: @restaurant.id), class:"dropdown-item border-top py-4" do %>
                    Add to new collection
                  <% end %>
                </li>
              </div>
            </div>
          </div>
        </div>

        <div class="row-actions justify-content-between" data-controller="insert-in-list" data-insert-in-list-position-value="beforeend">
          <div data-insert-in-list-target="items" class="review">
            <% if @restaurant.reviews.blank? %>
              <p><small>"Be the first to leave a review for <strong><%= @restaurant.name %></strong>"</small></p>
            <% else %>
              <% @restaurant.reviews.last(3).reverse.each do |review| %>
                <div class="review-text-container">
                  <p class="review-text">
                  <%= render 'restaurants/review', review: review %>
                </p>
                </div>
              <% end %>
              <% if @restaurant.reviews.size > 3  %>
                <%= link_to restaurant_reviews_path(@restaurant, @review), style: "color:darkblue" do %>
                  <p>See all the <%= pluralize @restaurant.reviews.size, "review" %>...</p>
                <% end %>
              <% end %>
            <% end %>
            <div class="buttons buttons-show d-flex flex-wrap mt-5">
              <% if user_signed_in? %>
                <a type="button" class="btn btn-outline-primary my-2" data-toggle="modal" data-target="#exampleModal">Add a review</a>
              <% else %>
                <%= link_to "Login", new_user_session_path, :class => "please-login btn btn-outline-primary my-auto" %>
              <% end %>
              <%= link_to "Book", @restaurant.website, class: "btn btn-outline-primary my-2", target: "_blank" %>
              <%= link_to "Directions", @restaurant.directions, class: "btn btn-primary my-2", target: "_blank" %>
            </div>
            <%= render 'restaurants/modal_new', restaurant: @restaurant, review: @review %>
          </div>
        </div>
    </div>

      <div class="row-map col-12 col-lg-6">
        <div id="map-show"
          style="width:100%; height:620px"
          data-marker = "<%= @marker.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
  </div>
</div>
