<div class="container">
  <table id="table" class="table table-striped">
    <thead>
      <tr>
        <th colspan="3"><h2>See all the reviews of <%= @restaurant.name %></h2></th>
      </tr>
    </thead>
    <tbody>
    <% @reviews.each do |review| %>
      <tr>
      <div class="container-row">
        <th scope="row"></th>
        <div class="text-overflow"><td>
          <p class="review-para"><%= review.user.first_name.capitalize %> <%= review.user.last_name.capitalize %> said: <em>"<%= review.description %>"</em></p>
          <a class="btn-overflow less" href="#">Show more...</a>
        <td></div>
        <p>Rating: <%=
        "<i class='fas fa-star' id='star' style='color: $gray; text-shadow: 1px 1px 1px black'></i>".html_safe * review.rating
        %><%=
        "<i class='far fa-star' id='star' ></i>".html_safe * (5 - review.rating) %> (<small><em><%= review.created_at.strftime("%d-%m-%Y")%></small></em>)</p>
        </td>
      </tr>
      <tr>

    </tbody>
    <% end %>
  </table>
  <%== pagy_bootstrap_nav(@pagy) %>
</div>
